<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <riskified>
            <riskified>
                <env>DEV</env>
                <cron_max_attempts>5</cron_max_attempts>
            </riskified>

            <decline_notification>
                <email_identity>general</email_identity>
                <title>{{store_name}}: Order # {{order_increment_id}} has been declined by Riskified</title>
                <content><![CDATA[We regret to inform you that your recent order #{{order_increment_id}} for {{products}}  has been declined by Riskified service.]]></content>
            </decline_notification>
        </riskified>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>
    </default>
</config>
