<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="riskified_sales_model_service_quote_submit_before"
                  instance="\Riskified\Decider\Model\Observer\CollectPaymentInfo"/>
    </event>
    <event name="riskified_decider_post_order_success">
        <observer name="riskified_decider_post_order_success"
                  instance="Riskified\Decider\Model\Observer\ProcessSuccessfulPost"/>
    </event>
    <event name="riskified_decider_order_update">
        <observer name="riskified_decider_handle_order_update"
                  instance="Riskified\Decider\Model\Observer\UpdateOrderState"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="riskified_decider_sales_order_save_after"
                  instance="Riskified\Decider\Model\Observer\OrderSaveAfter"/>
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="riskified_decider_sales_quote_payment_import_data_before" instance="Riskified\Decider\Model\Observer\ImportDataBefore"/>
    </event>
</config>
