<?xml version="1.0" encoding="UTF-8"?>
<config>
    <event name="sales_model_service_quote_submit_success">
        <observer name="riskified_decider_sales_model_service_quote_submit_success"
                  instance="\Riskified\Decider\Model\Observer\OrderPlacedAfter"/>
    </event>
    <event name="riskified_decider_order_update">
        <observer name="riskified_decider_handle_order_update" instance="Riskified\Decider\Model\Observer\UpdateOrderState"/>
    </event>
    <event name="riskified_decider_order_update_approved">
        <observer name="riskified_decider_order_update_approved" instance="Riskified\Decider\Model\Observer\AutoInvoice"/>
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="riskified_decider_sales_quote_payment_import_data_before" instance="Riskified\Decider\Model\Observer\ImportDataBefore"/>
    </event>
    <event name="riskified_decider_order_update_captured">
        <observer name="riskified_decider_order_update_captured" instance="Riskified\Decider\Model\Observer\AutoInvoice"/>
    </event>
    <event name="riskified_decider_order_update_declined">
        <observer name="riskified_decider_order_update_declined"
              instance="Riskified\Decider\Model\Observer\Order\Declined"/>
    </event>
    <event name="riskified_decider_post_order_success">
        <observer name="riskified_decider_post_order_success"
                  instance="Riskified\Decider\Model\Observer\ProcessSuccessfulPost"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="riskified_decider_sales_order_save_after" instance="Riskified\Decider\Model\Observer\OrderSaveAfter"/>
    </event>
</config>
