<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="riskified_decider" frontName="decider">
            <module name="Riskified_Decider"/>
        </route>
    </router>
</config>